<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Hey..</h1>
    <p class="lead text-muted">This is a blog, but not really a blog</p>
    <p>
      <a href="/stories" class="btn btn-primary my-2">Read Something</a>
      {{#if user}}
      <a href="/dashboard" class="btn btn-secondary my-2"><i class="fas fa-columns"></i> Dashboard</a>
      {{else}}
      <a href="/auth/google" class="btn btn-danger my-2"><i class="fab fa-google"></i> Login</a>
      {{/if}}
    </p>
  </div>
</section>
