<div class="album py-5 bg-white">
    <div class="container">

        <div class="row">
            <div class="col-md-4 order-md-2 mb-4">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">Your latest posts</span>
                    <span class="badge badge-secondary badge-pill">3</span>
                </h4>
                <ul class="list-group mb-3">
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">Product name</h6>
                            <small class="text-muted">Brief description</small>
                        </div>
                        <span class="text-muted">12 Clicks</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">Second product</h6>
                            <small class="text-muted">Brief description</small>
                        </div>
                        <span class="text-muted">8 Clicks</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">Third item</h6>
                            <small class="text-muted">Brief description</small>
                        </div>
                        <span class="text-muted">8 Clicks</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between bg-light">
                        <div class="text-success">
                            <h6 class="my-0">Promo code</h6>
                            <small>EXAMPLECODE</small>
                        </div>
                        <span class="text-success">8 Clicks</span>
                    </li>
                </ul>

            </div>
            <div class="col-md-8 order-md-1">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">Create Post</span>
                </h4>
                <form method="POST" action="/stories" class="needs-validation">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="firstName">Title</label>
                            <input type="text" class="form-control" id="title" name="title" placeholder="" value=""
                                required>
                        </div>
                    </div>

                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-muted">Post Status</span>
                    </h4>

                    <div class="col-md-5 mb-3">
                        <select class="custom-select d-block w-100" id="status" name="status" required>
                            <option value="">Choose...</option>
                            <option value="public">Public</option>
                            <option value="private">Private</option>
                            <option value="unpublished">Unpublished</option>
                        </select>
                    </div>

                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-muted">Tell a tale...</span>
                    </h4>

                    <div class="mb-3">
                        <div>
                            <textarea class="form-control" id="story" name="story" placeholder="Share your story"></textarea>
                        </div>
                    </div>
                    <hr class="mb-4">

                    <h4 class="mb-3">Allow Comment</h4>

                    <div class="d-block my-3">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" name="allowComments" id="allowComments">
                            <label class="custom-control-label" for="allowComments">Allow Comments</label>
                        </div>
                    </div>

                    <hr class="mb-4">
                    <button class="btn btn-dark btn-lg btn-block" type="submit">Post</button>
                </form>
            </div>
        </div>
    </div>
</div>